header{
    background-image: url("https://img2.akspic.ru/crops/2/9/7/1/7/171792/171792-svyataya_anna-martinika-svyatye-karbet_vodopady-priroda-3840x2160.jpg");
    color: ghostwhite;
    text-align: center;
    height: 150px;
}

header h1{
    font-size: 65px;
}

main h2 {
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-around;
}

.menu-item{
    text-decoration: none;
    color: blueviolet;
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
}


.menu-item:hover{
    background-color: powderblue;

}


h3{
    text-align: center;
}


p{
    background-color: whitesmoke;
    border: 3px solid grey;

}

footer{
    background-image: url("https://img2.akspic.ru/crops/2/9/7/1/7/171792/171792-svyataya_anna-martinika-svyatye-karbet_vodopady-priroda-3840x2160.jpg");
    color: ghostwhite;
    text-align: center;
    height: 150px;
}


.center{
    display: flex;
    justify-content: center;
}

body{
    background-color: floralwhite;
}
